{
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },

    "env": {
        "browser": true,
        "node": true,
    },

    "plugins": [
        "react",
    ],

    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],

    "rules": {
        "react/jsx-no-bind": ["error", {
            "allowArrowFunctions": true,
            "allowBind": false,
            "ignoreRefs": true
        }],
        "react/jsx-indent": ["error", 4],
        "react/no-did-update-set-state": "error",
        "react/no-unknown-property": "error",
        "react/no-unused-prop-types": "error",
        "react/prop-types": "error",
        "react/react-in-jsx-scope": "error",
        "no-console": 1,
    }
}
