html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 150px;
    /* Margin bottom by footer height */
}

@media print {
    @page {
        margin: 1in;
    }

    .container {
        max-width: 100% !important;
    }

    .footer {
        display: none !important;
    }
}

#share-buttons img {
    width: 45px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

@media (max-width: 845px) {
    .tagline {
        display: none;
        margin-bottom: 0px;
    }


    #share-buttons img {
        width: 35px;
        padding: 5px;
        border: 0;
        box-shadow: 0;
        display: inline;
    }

    .alert {
        padding: 0 0 1em !important;
    }
}

a {
    color: #0065b1 !important;
}

.card {
    margin-top: 2px;
    break-inside: avoid;
}

.card-header {
    padding: 0;
}

.pell-button {
    width: 40px !important;
}

input[disabled] {
    background-color: #D3D3D3;
}

.calc-input-width {
    width: 100px;
}

.calc-tiny-input-width {
    width: 30px;
}

@media (min-width: 845px) {
    .pad-left {
        margin-left: 25px;
    }
}

.text-label {
    min-width: 180px;
}

.footer-text {
    color: #333e48;
}

.card-header {
    padding: .5rem .75rem !important;
    cursor: pointer;
}

.group-header {
    padding-top: 25px;
}

#searchBar {
    width: 100%;
    margin-bottom: 25px;
}

input[type="radio"] {
    margin-right: 7px;
}

.footer {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    min-height: 60px;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
