.card-header {
    padding: 0;
}

.calc-input-width {
    width: 80px;
}

.calc-tiny-input-width {
    width: 30px;
}

@media (min-width: 845px) {
    .pad-left {
        margin-left: 25px;
    }
}

.text-label {
    min-width: 150px;
}

.card-header {
    padding: .5rem .75rem !important;
    cursor: pointer;
}

.group-header {
    padding-top: 25px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

.footer {
    bottom: 0;
    margin-top: 80px;
    padding-top: 10px;
    width: 100%;
    min-height: 60px;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
