.card-header {
    padding: 0;
}

.calc-input-width {
    width: 80px;
}

.calc-tiny-input-width {
    width: 30px;
}

.pad-left {
    margin-left: 25px;
}

.text-label {
    min-width: 150px;
}

.card-header {
    padding: .5rem .75rem !important;
    cursor: pointer;
}
